@model int[];

<div class="text-center">
    <h1 class="display-4">Here are some numbers!</h1>
</div>
<div class="card">
    <ul>
        @foreach(var num in Model){
            <p class="text-center">@num</p>
        }
    </ul>
</div>